@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body 
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.light-mode 
{
    background-color: #fff;
    color: #333;
}

.dark-mode 
{
    background-color: #000000;
    color: #fff;
}

section 
{
    padding-top: 20px;
    text-align: center;
}

.section-title
{
    padding-bottom: 20px;
}

.about-section
{
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
}

.logo-section img
{
    margin: 10px;
}

button
{
    cursor: pointer;
}

footer 
{
    background-color: #fff;
    color: #000000;
    padding: 20px;
    text-align: center;
}


/* Hero image styles */ 
.hero-image 
{
    position: relative;
}

.carousel-item 
{
    height: auto;
}

.carousel-item img {
    width: 100%;
    height: auto; /* Adjust height as needed, could use '100%' for a full height */
    object-fit: fill; /* Cover the area without losing aspect ratio */
  }
  

.carousel-caption {
    background: rgba(0, 0, 0, 0.8); /* Black background with 50% opacity */
    bottom: 0; /* Align to the bottom of the carousel item */
    left: 0;
    right: 0;
    padding: 30px; /* Add some padding around the text */
    border-radius: 0 0 4px 4px; /* Optional: add rounded corners at the bottom */
  }
  
  .carousel-caption h3,
  .carousel-caption p {
    color: #fff; /* Ensure text is white for better readability */
    margin-bottom: 0; /* Adjust spacing as needed */
  }
  
  .carousel-indicators li {
    background-color: #fff; /* White dots */
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%); /* Makes the arrows white */
  }
  